@media screen and (max-width: 850px) {

    /* header and nav bar */

    #header-nav-map {
        display: none;
    }

    .nav-bar {
        justify-content: space-between;
        padding: 0 8px;
    }

    .nav-bar ul {
        justify-content: space-between;
    }

    .nav-bar-container {
        padding: 1rem 0;
    }

    .nav-bar a {
        font-size: 15.5pt;
        letter-spacing: 1px;
        padding: 3px
    }

    .about {
        width: 90%;
    }

    /* schedule page */

    /* #schedule-table {
    padding: 2rem;
    height: 100%;
}

table {
    transform: rotate(90deg);
    width:100%;
    overflow-x: scroll;      
} */

    /* membership page */

    form {
        width: 87%;
    }

    input,
    textarea {
        width: 100%;
    }

    /* footer */

    footer {
        justify-content: space-evenly;
        padding: 0 50px;
    }

    /* facilities page */

    .facilities-main-hall {
        display: inline-block;
        /* justify-content: space-evenly;
    margin: 20px 0; */
    }

    .main-hall-content1 {
        width: 100%;
    }

    .main-hall-column2 {
        /* flex-basis: 56%; */
        /* display: flex;
    flex-direction: column; */
        /* justify-content: space-around; */

    }

    .main-hall-banquet-image {
        /* flex-basis: 70%; */
        /* height: auto;
    width: 89%;
    overflow: hidden;
    align-self: center; */
    }

    .field-hurley-image {
        display: none;
    }

    .goalposts-image {
        overflow: hidden;
        width: 50%;
    }
}

@media screen and (max-width: 620px) {
    .header-section1 {
        display: block;
        padding: 0.2rem 1rem 0.5em;
        align-items: center;
    }

    h1 {
        font-size: x-large;
        text-align: center;
    }

    .header-nav {
        padding: 18px 0 20px 44px;
        text-shadow: 3px 3px #4f000b;
    }



    .nav-bar {
        text-align: center;
    }

    .nav-bar ul {
        display: inline-block;
    }

}

@media screen and (max-width: 450px) {
    /* home page */

    .header-nav {
        padding: 1rem 0.3rem;
        text-shadow: 3px 3px #4f000b;
    }

    .nav-bar-container {
        padding: 0;
    }

    .about {
        width: 98%;
    }

    .form-content {
        padding: 6px 9px 26px;
    }
}
