@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    
}

body {
    font-family: Poppins, sans-serif;
    font-weight: 300;
}

/*header*/

header {
    padding: 5px;
    background-color: #2f2366;
    /* background: url(../images/mattie-mcdonagh-placeholder.jpg) no-repeat center center / cover; */
    display: flex;
    align-items: center;
    justify-content:flex-end;
    width: 100%;
    position: fixed;
    top: 0;
    height: 250px;
}

h1 {
    font-size: xxx-large;
    color: rgb(130, 183, 243);
    justify-self: flex-start;
    flex: 2;   
}

.header-nav-list {    
    flex:1;
} 

.header-nav {
    padding-right: 14px;    
}

.header-nav a {
    color:rgb(130, 183, 243);
}

.header-nav-list li {
    font-size: medium;
    padding-top: 16px;
    color: rgb(130, 183, 243);
    list-style-type: none;
}
/*header ends*/

/*nav bar*/

 .nav-bar-container {
    height: 100px;
    background-color: rgb(130, 183, 243);
    padding-left: 10px;
    margin-top:250px;
    padding-bottom: 40px;
    
 }

 .nav-bar {
    display: flex;
     align-items: flex-end;
     justify-content: space-evenly;
     height: 100%;

 }
.nav-bar a {
    color: #2f2366;
    font-size: x-large;
    text-transform: uppercase;
    font-weight: 300;
}
.nav-bar li {
    list-style-type: none;
}

.nav-bar a:hover {
    color: salmon;
}

/*nav bar ends*/

/*footer*/

footer {
    height: 49px;
    background-color: #2f2366;
    padding: 0 200px;
}

.social-networks {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}

.social-networks i {
    color: rgb(130, 183, 243)
}
/*footer ends*/

.page-headings {
    padding: 20px;
    text-align: center;
    text-decoration: underline #800000;
}

/*facilities page*/

.facilities-main {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.facilities img {
    height: 200px;
    width: 250px;
    padding: 5px;
    overflow: hidden;
    flex-basis: 23%;
}
/*facilities page ends*/

/*schedule page*/

@media screen and (max-width: 600px) {
    table {transform: rotate(90deg);
    }
    
}

#schedule-table {
    clear: both;
}

table {
    width:100%;
    border-collapse:collapse;
    
}

table, th, td {
        border: 2px solid blue
    }

td {
    text-align: left;
    padding: 12px;
}
