@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    width: auto;
}

body {
    font-family: Poppins, sans-serif;
    font-weight: 300;
    background:#fae6fa;
    background-size: 16px 48px;
}

a {
    text-decoration: none;
}

h2, h3 {
    font-size: xx-large;
    font-weight: 1000;
    text-shadow: 1px 1px 0 #FDF0D5;
    text-decoration: underline #4F000B;

}

h3 {
    padding: 12px 0 15px;
    font-size: x-large;
}

.page-headings {
    padding: 20px;
    text-align: center;
}


/*header*/

header {
    padding: 5px 5px 5px 7px;
    background-color: #23297A;
    /* background: url(../images/mattie-mcdonagh-placeholder.jpg) no-repeat center center / cover; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    position: fixed;
    top: 0;
    height: 250px;
}

h1 {
    font-size: xxx-large;
    letter-spacing: 3px;
    color: rgb(130, 183, 243);
    justify-self: flex-start;
    flex: 2;
    text-shadow: 5px 5px #4F000B;
    padding-left: 8px;
}

.header-nav-list {
    flex: 1;
}

.header-nav {
    padding-right: 14px;
    text-shadow: 3px 3px #4F000B;
}

.header-nav a {
    color: rgb(149, 192, 241);
    text-shadow: 3px 3px #4F000B;
}

.header-nav a:hover {
    color: #FDF0D5;
}

.header-nav-list li {
    font-size: medium;
    padding-top: 16px;
    color: rgb(152, 195, 243);
    list-style-type: none;
}

#header-nav-map {
    padding-right: 11px;   
}

#header-nav-map iframe {
    overflow: hidden;
    height: 128px;
    width: 122px;
}

/*header ends*/

/*nav bar*/

.nav-bar-container {
    height: 100px;
    background-color: rgb(130, 183, 243);
    padding: 0 0 35px 10px;
    margin-top: 250px;
    width: 100%;
}

.nav-bar {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    height: 100%;
}

.nav-bar a {
    color: #4F000B;
    font-size: x-large;
    text-transform: uppercase;
    font-weight: 900;
}

.nav-bar li {
    list-style-type: none;
}

.nav-bar a:hover {
    color: #FDF0D5;
}

/*nav bar ends*/

/*footer*/

footer {
    height: 49px;
    background-color: #23297A;
    padding: 0 200px;
}

.social-networks {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}

.social-networks i {
    color: rgb(130, 183, 243);
    border: 2px solid #4F000B;
    font-size: 22px;
}

.social-networks i:hover {
    color: #C95D63;
}

/*footer ends*/

/*facilities page*/

.facilities-main-hall div {
    float: left;
}


.facilities-field {
   
}

.facilities-gym {
    
}

.facilities-kitchen {
    
}

.facilities img {
    height: 263px;
    
    padding: 10px;
    overflow: hidden;
    border-radius: 8px;
}

.facilities-content-main {
    width: 33%;
}
/* 
.right {
    float: right;
}

.left {float: left;} */

.facilities-content {
    padding: 0 25px;
    
} 



/*facilities page ends*/

/*schedule page*/

#schedule-table {
    padding: 22px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fae6fa;
    padding: 16px 10px;
}

th,
td {
    padding: 16px 0;
}

table,
th,
td {
    border: 2px solid #23297A;
}

td {
    text-align: left;
}

/* form*/

.form-section {
    padding-bottom: 36px;
}

input,
textarea {
    border: 2px solid #4F000B;
    border-radius: 3px;
    padding: 8px;
    width: 50%;
}

form {
    background-color: #fae6fac7;
    margin: auto;
    width: 63%;
    border: 3px dashed #4F000B;
}

.form-content {
    padding: 4px 40px 26px 40px;
}

label {
    display: block;
    margin-top: 1em;
    font-size: xx-large;
    font-weight: 700;
    color: #4F000B;
}

.form-buttons label {
    display: inline-block;
    padding: 3px 10px 3px 4px;
    font-size: medium;
    margin-top: 0;
}

.form-buttons p {
    font-size: large;
    font-weight: 700;
    margin-top: 1em;
}

input[type=radio] {
    width: min-content;
    padding-left: 10px;
    display: inline-block;
}

button[type=radio] {
    height: 10px;
    width: 10px;
}

#checkbox-agree-terms label {
    font-size: x-small;
    padding-left: 31px;
}

input[type=checkbox] {
    float: left;
    width: 24px;
    height: 17px;   
}
/* Submit button */

button[type=submit] {
    padding: 10px 12px;
    background-color: #4F000B;
    color: #A2BCE0;
    font-size: large;
    border-radius: 11px;
}

button[type=submit]:hover {
    background-color:#A2BCE0;
    border: #4F000B;
    color: #4F000B;
}

/* form ends*/